## Control flow

**if, elif, else**

In [2]:
a = 5; b = 7
c = 8; d = 4
if a < b or c > d:
    print("Made it")

Made it

**for loops**

In [5]:
sequence = [1, 2, None, 4, None, 5]
total = 0
for value in sequence:
    if value is None:
        continue
    total += value
total

12

In [7]:
sequence = [1, 2, 0, 4, 6, 5, 2, 1]
total_until_5 = 0
for value in sequence:
    if value == 5:
        break
    total_until_5 += value
total_until_5

13

In [8]:
for i in range(4):
    for j in range(4):
        if j > i:
            break
        print((i, j))

(0, 0)
(1, 0)
(1, 1)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)
(3, 3)

**while loops**

In [12]:
x = 256
total = 0
while x >0:
    if total > 500:
        break
    total += x
    x = x // 2
total

504

**pass**

In [17]:
x = 2
if x < 0:
    print("negative!")
elif x == 0:
    # TODO: put something smart here
    pass
else:
    print("positive!")

positive!

**range**

In [18]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [19]:
list(range(0, 20, 2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [20]:
list(range(5, 0, -1))

[5, 4, 3, 2, 1]

In [24]:
seq = [1, 2, 3, 4]
for i in range(len(seq)):
    val = seq[i]
    print(val)

1
2
3
4

In [25]:
sum = 0
for i in range(100000):
    # % is the modulo operator
    if i % 3 == 0 or i % 5 == 0:
        sum += i
sum

2333316668

**Ternary expressions**<br>
value = *true-expression* if *condition* else *false-expression*

In [27]:
x = 5
'non-negative' if x >= 0 else 'negative'

'non-negative'

## Chapter 3: Built-in Data Structures, Functions, and Files <br>
### Data Structures and Sequences

#### Tuple

In [31]:
tup = 2, 3, 4
tup

(2, 3, 4)

In [32]:
nested_tup = (4, 5, 6), (7, 8)
nested_tup

((4, 5, 6), (7, 8))

In [33]:
tuple([3, 2, 5])

(3, 2, 5)

In [35]:
tup = tuple('string')
tup[0]

's'

In [36]:
tup = tuple(['foo', [1, 2], True])
tup[2] = False

TypeError: 'tuple' object does not support item assignment

In [39]:
tup[1].append(3)
tup

('foo', [1, 2, 3, 3], True)

In [44]:
# (4, None, 'foo') + (6, 0) + ('bar',)

(4, None, 'foo') + (6, 0) + (4,)

('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

#### Unpacking tuples

In [47]:
tup = (4, 5, 6)

a, b, c = tup

b # 5

tup = 4, 5, (6, 7)

a, b, (c, d) = tup

d # 7

a, b = 1, 2

b, a = a, b 
a, b

(2, 1)

In [48]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a, b, c in seq:
    print('a = {0}, b = {1}, c = {2}'.format(a, b, c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

The Python language recently acquired some more advanced tuple unpacking to help with situations where you may want to "pluck" a few elements from the beginning of a tuple. This uses the special syntax *rest.

In [51]:
values = 1, 2, 3, 4, 5
a, b, *rest = values
a, b

rest

[3, 4, 5]

In [3]:
import os
# mkdir demo
# s[0] s[1]
s = input().split()
if s[0] == "mkdir":
    os.mkdir(s[1])
elif s[0] == "mkfile":
    os.mkfile(s[1])
elif s[0] == "ls":
    os.ls(s[1])
elif s[0] == "cd":
    os.cd(s[1])