In [1]:
import numpy as np
import pandas as pd

In [2]:
with open('Bus_data.txt', 'r') as f:
    text = f.readlines()
    
l = []
for item in text:
    if item.startswith('H.') or item.startswith('U.'):
        l.append(item.strip('\n').split())

In [3]:
col = ['From', 'Week_day', 'Dept_time', 'Time_take', 'Arr_time']
df = pd.DataFrame(l, columns=col)
df.head()

  From Week_day Dept_time Time_take Arr_time
0   U.      Mon     12h05     13m55     None
1   H.      Tue     08h36     14m19     None
2   U.      Tue     15h05     14m14     None
3   H.      Wed     06h41     14m48     None
4   U.      Wed     10h12     13m04     None

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 404 entries, 0 to 403
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   From       404 non-null    object
 1   Week_day   404 non-null    object
 2   Dept_time  404 non-null    object
 3   Time_take  365 non-null    object
 4   Arr_time   303 non-null    object
dtypes: object(5)
memory usage: 15.9+ KB

In [5]:
df.isnull().sum()

From           0
Week_day       0
Dept_time      0
Time_take     39
Arr_time     101
dtype: int64

In [6]:
df.fillna('.', inplace=True)

In [7]:
df.Week_day.unique()

array(['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sun', 'Sat', 'Thu.', 'Fri.',
       'Mon.', 'Tue.', 'Wed.', 'Sun.', 'Sat.'], dtype=object)

In [8]:
for i in col:
    df[i] = df[i].apply(lambda x: x.strip('. '))

In [9]:
df.Week_day.unique()

array(['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sun', 'Sat'], dtype=object)

In [10]:
df

    From Week_day Dept_time Time_take Arr_time
0      U      Mon     12h05     13m55
1      H      Tue     08h36     14m19
2      U      Tue     15h05     14m14
3      H      Wed     06h41     14m48
4      U      Wed     10h12     13m04
..   ...      ...       ...       ...      ...
399    H      Mon     09h48
400    H      Tue     12h26
401    H      Thu     06h40
402    H      Fri     09h30
403    U      Fri     12h06

[404 rows x 5 columns]